##### Windows
# Windows thumbnail cache files
Thumbs.db
*.gcda
*.gcno
.DS_Store
.AppleDouble
.LSOverride
# Dump file
*.stackdump
*.log

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
**/bin
**/obj
**/include